body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 15px;
}

main{
    background-color: white;
    width: 285px;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin-inline: 20px;
}

img{
    border-radius: 10px;
    width: 100%;
}

header{
    margin-top: 20px;
    margin-inline: 10px;
    font-size: 23px;
    text-align: center;
    font-weight: 700;
}

p{
    color: hsl(220, 15%, 55%);
    margin: 12px 10px 22px 10px;
    font-weight: 400;
}

.attribution { 
    font-size: 11px; text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

