:root{
    font-size: 15px;
    --add:hsl(158, 36%, 37%); /*button - Dark cyan*/
    --backgroung: hsl(30, 38%, 92%); /*body backgroung - cream*/
    --add2:hsl(156, 42%, 18%); /*button hover - Very dark blue*/
    --description: hsl(228, 12%, 48%);/*description - Dark grayish blue*/
    --bodybg: hsl(0, 0%, 100%); /*componeent background- White*/

    /*font-family: 'Fraunces', serif; - weight 700*/
    /*font-family: 'Montserrat', serif; -weight 500, 700*/
}
body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--backgroung);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    background-color: var(--bodybg);
    height: 30rem;
    width: 40rem;
    border-radius: 0.6rem;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

#media .img {
    width: 20rem;
}

.name {
    font-family: 'Montserrat', serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.33rem;
    margin-block: 2.1rem 0rem;
    margin-inline: 2rem ; 
    color: var(--description);
}

.title {
    font-family: 'fraunces', serif;
    font-weight: 700;
    font-size: 2.1rem;
    margin-inline: 2rem; 
    margin-block: 1.2rem;
    line-height: 2.2rem;
}

.description {
    font-family: 'Montserrat', serif;
    font-size: 0.93rem;
    margin-inline: 2rem;
    margin-block: 0.4rem 0;
    line-height: 1.55rem;
    color: var(--description);
}
.price {
    margin-inline: 2.15rem;
    margin-top: 1.7rem;
    display: flex;
    justify-content: flex-start;
}

.actual_price {
    font-size: 2.1rem;
    font-family: 'fraunces', serif;
    color: var(--add);
    margin: 0;
}

.price_before {
    font-family: 'montserrat', serif;
    font-weight: 500;
    text-decoration: line-through;
    font-size: 0.9rem;
    color: var(--description);
    margin-left: 1.3rem;
}

.btn {
    background-color: var(--add);
    color: var(--bodybg);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 3.2rem;
    width: 15.8rem;
    margin-inline: auto;
    border-radius: 0.5rem;
    margin-block: 1.4rem;
    font-family: 'montserrat', serif;
    font-weight: 700;
    font-size: 0.9rem;
}

.btn:hover {
    background-color:var(--add2);
    cursor: pointer;
    transition: 0.25s;
}

.btn img {
    margin-right: 0.8rem;
}

.attribution { 
    font-size: 0.8rem;
    margin-top: 1em;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media (max-width: 700px) {
    
body {
    flex-direction: column;
}

.container {
    flex-direction: column;
    min-height: 40.73rem;
    width: 91.3%;
    height: auto;
}

main {
    width: auto;
}

#media .img {
    width: 100%;
}

.name {
    margin-block: 1.35rem 0rem;
    margin-inline: 1.56rem; 
}

.title {
    margin-block: 0.9rem 0;
    margin-inline: 1.6rem;
}

.description {
    margin-inline: 1.57rem 1.7rem;
    margin-block: 1rem 0;
}

.price {
    margin-block: 1.3rem 0;
    margin-inline: 1.55rem;
}
.btn {
    margin-block: 1rem;
    width: 19.6rem;
    margin-inline: auto;
}
}