:root {

    font-size: 15px;
    --white: rgb(255, 255, 255);
    --lightgray: rgb(149, 158, 172); /*active rating component*/
    --pharagpraph: rgb(124, 135, 152); /*pharagraph*/
    --element: rgb(23, 30, 40); /*ratting component bg*/
    --mainbg: rgb(20,21,25); /*main bg color*/
    --ratingelement: rgb(38,47,56); /*circle element color*/
    --orange: rgb(251, 116, 19); /*button, ratting element hover*/
    font-family: 'Overpass', sans-serif;
}

p,h1,h2,body {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--mainbg);
}

main {
    width: 23.3rem;
    min-height: 23.6rem;
    padding: 2.1rem;
    margin-block: 2rem;
    background-color: var(--element);
    border-radius: 2rem;
}

/* first section - before submit */
.shape-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--ratingelement);
    height: 3.3rem;
    width: 3.3rem;
}

.before-submit h1 {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--white);
    margin-block:2.15rem 0;
}

.description {
    color: var(--pharagpraph);
    font-size: 1rem;
    line-height: 1.6rem;
    margin-block: .55rem 0;
}

.rating-box {
    display: flex;
    justify-content: space-between;
    margin-block: 1.75rem 0;
}

.shape { 
    height: 3.4rem;
    width: 3.4rem;    
    border-radius: 50%;
    font-family: 'Overpass', sans-serif;
    background-color: var(--ratingelement);
    color: var(--pharagpraph);
    font-size: 1.1em;
    font-weight: 700;
    border: none;
    transition: ease-in .15s;
    outline: none;
}

.shape:hover {
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}

.shape:focus {
    background-color: var(--lightgray);
    color: var(--white);
}

.submit-btn {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    margin-block: 2.15rem 0;
    background-color: var(--orange);
    color: var(--white);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: ease-in-out .15s;
}

.submit-btn:hover {
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}

 .submit-btn:disabled {
    /* background-color: rgb(184, 128, 68); */
    background-color: var(--lightgray);
    color: var(--white);
    cursor: auto;
}


/* second section - after submit */
.after-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.after-submit img {
    margin-top: .9rem;
    height: 7.3rem;
}

.points-selected {
    color: var(--orange);
    margin-top: 2.1rem;
    border-radius: 2rem;
    background-color: var(--ratingelement);
    padding-block: .5rem .3rem;
    padding-inline: 1.3rem;
}

.after-submit h2 {
    color: var(--white);
    font-size: 1.9rem;
    font-weight: 400;
    margin-top: 2.3rem;
    font-weight: 700;
}

.thanks {
    color: var(--pharagpraph);
    text-align: center;
    margin-block: 0.6rem 0;
    line-height: 1.6rem;
    margin-inline: .3rem;
}

.display-none {
    display: none;
}

/* footer */
footer { 
    font-size: .7rem; 
    text-align: center;
    margin-bottom: 1rem;
    color: var(--lightgray);
 }
footer a {
    color: hsl(264, 89%, 68%); 
    text-decoration: none;
    transition: ease .2s;
}
footer a:hover {
    color: hsl(134, 52%, 46%); 
}

/* mobile */
@media only screen and (max-width: 550px){

    main {
        max-width: 76%;
        min-height: 21.1rem;
        border-radius: 1rem;
        padding: 1.4rem;
    } 

    .shape-img {
        height: 2.6rem;
        width: 2.6rem;
    }

    .shape {
        height: 2.7rem;
        width: 2.7rem;
        font-size: .9rem;
    }

    .before-submit h1 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    .description {
        margin-top: .4rem;
        font-size: .95rem;
    }

    .submit-btn {
        margin-block: 1.7rem 0;
    }
    
    .after-submit img {
        height: 6.45rem;
    }
    .points-selected {
        font-size: .95rem;
        padding-inline: .7rem;
        margin-top: 1.5rem;
    }

    .after-submit h2 {
        font-size: 1.5rem;
        margin-top: 1.9rem
    }

    .thanks {
        font-size: .9rem;
    }
}