:root{
    /* primary */
    --Very-dark-blue: hsl(233, 47%, 7%);  /*(main background)*/
    --Dark-desaturated-blue: hsl(244, 38%, 16%); /*(card background)*/
    --Soft-violet: hsl(277, 64%, 61%); /* (accent) */
    --overlay-color: hsl(283, 74%, 45%); /* (accent) */

    /* neutral */
    --white: hsl(0, 0%, 100%); /*main heading, stats*/
    --transparent-white: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --transparent-white2:hsla(0, 0%, 100%, 0.6); /*(stat headings): */

    --f-Inter: 'Inter', sans-serif; 
    /*weights: 400, 700*/
    --f-Lexend_Deca: 'Lexend Deca', sans-serif; 
    /*weight: 400*/
    font-size: 15px;
}
h1, h2, h3, p, body, picture {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: var(--Very-dark-blue);
    color: white;
}

/* #element: wysokosc szerokosc
    zrezygnowac z min-width?
*/
#element {
    display: flex;
    flex-direction: row;
    background-color: var(--Dark-desaturated-blue);
    border-radius: .6rem;
    overflow: hidden;
    
    height: 29.7rem;
    /* min-width: 13rem; */
    width: 74rem;
    /* max-width: 74rem; */
    

    /* temporary */
    font-family: var(--f-Inter);
    /* margin-left: .5em;
    margin-top: .5rem; */
}

.content {
    box-sizing: border-box;
   padding-inline: 4.8em 8em;
   padding-block: 4.75em 0;
    width: 39rem;
    /* max-width: 39rem; */
    text-align: left;
}

.content h1 {
    font-size: 2.4em;

}

.header-color-span {
    color: var(--Soft-violet);
}

.description {
    color: var(--transparent-white2);
    line-height: 1.67em;
    padding-top: 1.7em;

}

.stats {
    display: flex;
    justify-content: space-between;
    padding-inline: 0 1.9em;
    padding-top: 4.8em;
}

.stats h2 {
    font-size: 1.6em;
}

.stats p {
    color: var(--transparent-white2);
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .1em;
    padding-top: .55em;
}

/* dostosowac tag picture wlasciwie zrozumiec jak to dziala. ustalic wysokosc i szerokosc zeby dziala sie aytomatycznie.
działa xD */
.main-img, .img {
    width: auto;
    height: 100%;
    position: relative;
}

.color-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--overlay-color);
    opacity: .5;
}



footer {
    margin-block: 2rem;
}


@media (max-width: 600px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    #element {
        flex-direction: column-reverse;
        width: 87%;
        height: auto;
        /* overflow: visible; */
        /* align-items: center; */
    }

    .content {
        width: 100%;
        text-align: center;
        padding-inline: 2em;
        padding-block: 2.5em 0;
        height: auto;

    }

    .content h1 {
        font-size: 1.8rem;
    }

    .description {
        padding-top: 0.9rem;
    }

    .main-img, .img {
        width: 100%;
        height: 100%;
    }

    .stats {
        flex-direction: column;
        padding-inline: 0;
        padding-top: 3em;
    }

    .stats div {
        margin-bottom: 2rem;
    }
}



