:root{
    /* main color */
    --main-background: hsl(217,54%,11%); 
    --component-background: hsl(216, 50%, 16%); 

    --shadow-color-box: hsl(216, 68%, 7%); 
    --border-color-line: hsla(215, 52%, 70%, 0.122);
    --white: hsl(0, 0%, 100%); 
    --paragraph: hsl(215, 51%, 70%);
    --hover-color: hsl(178, 100%, 50%); 
    --hover-img: hsla(178, 100%, 50%, 0.401); 
    --footer: hsl(228, 45%, 44%); 

    /* fonts */
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
     /* Weights: 300, 400, 600 */
}
a:visited,:active,:link {
    text-decoration: none;
    color: rgb(252, 251, 251);
}

a {
    transition: 0.2s ease-in-out;
}

a:hover {
    color: var(--hover-color);
}

p,h4 {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--main-background);
    margin: 0;
    color: white;
}

main {
    background-color: var(--component-background);
    width: 23.3rem;
    height: 39.8rem;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1.6rem;
    -webkit-box-shadow: 0px 0px 17px 6px var(--shadow-color-box);
    -moz-box-shadow: 0px 0px 17px 6px var(--shadow-color-box);
    box-shadow: 0px 4px 22px 4px var(--shadow-color-box);
}

.ProductImage {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.NFT-img{
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in;
    background-color: var(--hover-img);
}

.ProductImage:hover .overlay {
    opacity: 1;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 1.5rem;
    margin-block: 1.65rem 0;
}

.descr {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--paragraph);
    margin-block: 1.05rem 0;
    line-height: 1.74rem;
}

.info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: var(--border-color-line);
}

.price h4 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-block: 1.55rem 1.6rem;
    color: var(--hover-color);
}

.price :before {
    content: "";
    background-image: url(images/icon-ethereum.svg);
    background-repeat: no-repeat;
    width: 0.8rem;
    height: 1.2rem;
    margin: 0.1rem 0.3rem 0 0;
    float: left;
}

.time-left h3 {
    margin-block: 1.55rem 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--paragraph);
}

.time-left :before {
    content: "";
    background-image: url(images/icon-clock.svg);
    background-repeat: no-repeat;
    float: left;
    margin: 0.2rem 0.4rem 0 0;
    width: 1.2rem;
    height: 1.2rem;
}

.avatar {
    display: flex;
    align-items: center;
    
    color: var(--paragraph);
    margin-block: 0.3rem 1rem;
}

.Avatar-Img {
    height: 2.1rem;
    width: 2.1rem;
    margin-block: 0.75rem 0;
    margin-right: 1rem;
    border: 1px solid;
    border-radius: 50%;
    border-color: var(--white);
}

.avatar h4 {
    margin-block: 0.3rem 0rem;
    font-size: 1.1rem;
    font-weight: 300;
}

/*footer*/
.attribution { 
    font-size: 0.9rem; text-align: center;
    margin-block: 2rem;
    color: var(--paragraph);
}
.attribution a { color: hsl(228, 45%, 44%); 
}

.attribution a:hover { color: rgba(230,25,99,255); 
}


@media only screen and (max-width: 750px) {

    main {
        width: 87%;
        height: auto;
        padding-bottom: 0;
        margin-top: 2rem;
    }

    .descr {
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin-block: 0.65rem 0;
    }

    .price h4,.time-left h3 {
        margin-block: 1.1rem 0.9rem;
        font-size: 1rem;
    }

    .avatar h4 {
        font-size: 1.03rem;
    }

    .Avatar-Img {
        margin-block: 0.75rem 0.35rem;
    }

    .attribution {
        font-size: 3vw;
        width: 90%;
    }
}